*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 2rem auto;
  width: 35vw;
}
.signup-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  margin: 2rem auto;
  width: 35vw;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 20px;
  border-radius: 10px;
  height: auto;
}
legend{
  padding: 3px 6px;
  color: #f7f7f7;
  background-color: #ffffff;
}
form input{
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}
/* #root{
  width: 100vw;
  height: 100vj;
} */
form input[type="submit"]{
  background-color: #41a345ff;
  color: white;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}
.signup-form-container input[type="submit"]{
  background-color: #F7174E;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
form h3{
  font-weight: 500;
  margin-top: 0.5rem;
  color: white;
}
.err{
  color: white;
  font-size: 0.9rem;
}
.signup-err{
  color: red;
  font-size: 0.9rem;
}
.success{
  background-color: #F7174E;
  font-weight: 500;
  color: white;
  border-radius: 0.2rem;
  text-align: center;
  padding: 20px;
}
#deleteButton{
  color: red;
}
#LikeButton:hover{
  color: blue;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --c:no-repeat radial-gradient(farthest-side,#514b82 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader::before {    
  content:"";
  position: absolute;
  inset:0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg,#514b82 0 90deg);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
  border-radius: 50%;
}
@keyframes l18 { 
  100%{transform: rotate(.5turn)}
}